<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>


<div class="container">
    {{!-- 記帳列表 --}}
    <div class="expense-tracker">
        <div class="title">
            <h1>冰島旅遊基金</h1>
        </div>
        <div class="total">TOTAL:  10800 $</div>
        <div class="list">
            <ul class="index-ul">
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>中樂頭</h2>
                    <h2 class="price">18280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
                <li class="index-list">
                    <i class="fas fa-grin-beam"></i>
                    <h2>遊牧人生</h2>
                    <h2 class="price">280 $</h2>
                    <div class="list-right">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {{!-- 右邊按鈕 --}}
    <div class="buttons">
        <div class="button-up">
            <div class="date"></div>
            <div class="category">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-down">
            <div class="button-income">
                <a href="">收入</a>
            </div>
            <div class="button-expense">
                <a href="">支出</a>
            </div>
        </div>
    </div>
</div>



