.container {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid 1px; */
    margin-top: 200px;
    padding-left: 150px;
}

.expense-tracker {
    width: 65%;
    height: 100%;
    border: solid 5px;
    background-color: rgba(243, 243, 243, 0.8);
}

.buttons {
    /* border: solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 35%;
    height: 100%;
}

.title {
    background-color: rgba(255, 61, 74, 0.9);
    width: 100%;
    height: 20%;
    color: white;
    text-align: center;
    padding: 25px;
    border-bottom: solid black 5px;
}

.title h1 {
    font-size: 80px;
}

.total {
    font-size: 60px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.list {
    display: flex;
    justify-content: center;
    width: 110%;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: -15px;
}

.index-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}

.index-list {
    display: flex;
    align-items: center;
    border: solid 3px;
    width: 80%;
    height: 60px;
    min-height: 60px;
    margin-top: 20px;
    padding: 5px;
}

.index-list h2 {
    padding-top: 7px;
}

.btn-delete {
    background-color: transparent;
    border: none;
    margin-left: -15px;
}

.price {
    background-color: #FFC954;
    padding: 5px;
    padding-left: 10px;
    margin-top: 8px;
    position: absolute;
    right: 140px;
    top: -5px;
}

.list-right {
    display: flex;
    position: absolute;
    right: 0px;
}

i {
    font-size: 40px;
    margin: 0 10px;
    width: 45px;
}

.btn-date {
    background-color: #FFC954;
    border-radius: 0;
    border: solid 5px;
    width: 50%;
    height: 100px;
    font-size: 50px;
    font-weight: 500;
    margin-left: 40px;
}

.btn-category-inner {
    background-color: #FFC954;
    border: solid 5px;
    width: 50%;
    height: 100px;
    font-size: 50px;
    font-weight: 500;
    margin-left: 40px;
}

.btn-date::after {
    margin-left: -5px;
}

.button-add, .button-back {
    width: 50%;
    height: 100px;
    border: solid 5px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 61, 74, 0.9);
}

.button-add {
    margin-bottom: 20px;
}

.a-add {
    text-decoration:none;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

a:link, a:visited {
    color: black;
}
